.counter-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
}

.counter-title {
    color: darkblue;
}

.counter-button {
    border: 1px solid;
    border-radius: 0.5rem;
}

.counter-dec{
    background-color: lightpink;
}

.counter-inc{
    background-color: lightcyan;
}

.counter-value {
    font-size: xx-large;
    margin: 0 0.5rem 0 1rem;
}