.temperatures-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

.temperatures-title {
    color: darkblue;
}

.badge {
        margin-right: 5px; /* เพิ่มระยะห่างทางด้านขวา */
}

.temperatures-variables {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}