.home-container {
    border: 1px solid;
    height: 600px;
    padding: 1rem; /* เพิ่ม padding ให้กับ home-container */
}

.content {
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียงให้ img และ info อยู่ในบรรทัดเดียวกัน */
    justify-content: space-between; /* ใช้เพื่อจัดระเบียบให้มีพื้นที่ระหว่างสองส่วน */
    align-items: center; /* จัดแนวให้กลางแนวตั้ง */
}

img {
    width: 450px;
    height: 350px;
}

.home-img {
    padding-left: 1rem; /* เพิ่ม padding ซ้ายให้กับ home-img */
}

.info {
    display: flex;
    flex-direction: column; /* จัดเรียงข้อมูลในแนวตั้ง */
    align-items: flex-start; /* จัดให้ข้อมูลชิดซ้าย */
    margin-right: 1rem; /* เพิ่ม margin ขวา */
}

.info h2 {
    margin: 0; /* ลบ margin ของ h2 */
}

.info h2:first-child {
    padding-left: 0; /* ลบ padding ซ้ายจากบรรทัดแรก */
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}