#container {
  width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  #input {
    margin-bottom: 10px;
  }
  
  input {
    width: 60%;
    height: 40px;
    font-size: 24px;
  }
  
  button {
    width: 70px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
  }

  .btn-danger {
    margin-left: 5px;
  }
  .btn-primary {
    margin-left: 5px;
    margin-bottom: 5px;
  }
  